<div class="header_users_bar">
	<div class="header_users">
		<%= t '.title' %>
	</div>
</div>

<%= render 'form' %>

<div class="links_users">
	<button type="button" class="btn btn-warning"><%= link_to t('.links_show'), @user %></button>
</div>

