.what_we_are_background{
	text-align: center;
	width: 900px;
	margin-top: 6%;
	margin-left: 26%;
	border: 2px solid #95a5a6;


	.subtitle{
		font-size: 30px;
		font-family: 'Indie Flower', cursive;
		font-weight: bold;
		background-color: #1cde9d;
	}

	.subtitle_2{
		font-size: 30px;
		font-family: 'Indie Flower', cursive;
		font-weight: bold;
		background-color: #e86c5c;
	}

	.subtitle_3{
		font-size: 30px;
		font-family: 'Indie Flower', cursive;
		font-weight: bold;
		background-color: #3498db;
	}

	.text{
		font-size: 25px;
		font-family: 'Indie Flower', cursive;
		margin-top: 5px;
		
	}
}


