<div class = "navbar">
	<div class="nav_each">
		<%= link_to t('layouts.nav_visitor.signup'), new_user_path, class: 'btn btn-primary' %>
    	<%= link_to "Home", root_path, class: 'btn btn-primary' %>
		<%= link_to t('layouts.nav_visitor.login'), new_user_sessions_path, class: 'btn btn-primary' %>
		<%= link_to t('layouts.nav_visitor.projects_index'), projects_path, class: 'btn btn-primary' %>
	</div> 
</div>